<%= form_with url: entries_path, method: :get,
              data: { 
                turbo_frame: "search_results",
                controller: "search",
                action: "submit->search#search"
              },
              class: "space-y-4" do |f| %>
  
  <div class="flex gap-2">
    <%= f.text_field :query,
        value: params[:query],
        placeholder: "Search for Ruby topics, tutorials, podcasts...",
        class: "input input-bordered flex-1",
        data: {
          search_target: "input",
          action: "input->search#handleInput"
        },
        autocomplete: "off" %>
    
    <%= f.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>