<header class="navbar bg-base-100">
  <div class="container mx-auto px-4">
    <div class="flex-1">
      <%= link_to root_path, class: "btn btn-ghost text-xl" do %>
        <span class="text-ruby-red font-bold">Ruby</span>
        <span class="font-bold">Well</span>
      <% end %>
    </div>
    
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Browse", entries_path %></li>
        <li>
          <button class="btn btn-sm btn-ghost" 
                  data-controller="modal" 
                  data-action="click->modal#open">
            Request a Feature
          </button>
        </li>
        <li>
          <button class="btn btn-sm btn-primary"
                  data-controller="modal"
                  data-action="click->modal#open">
            Support RubyWell
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>